<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jade.kotlindemo">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.flow.FlowActivity" />
        <activity android:name="com.jade.kotlindemo.page.room.RoomActivity" />
        <activity android:name=".page.paging3.Paging3RouterActivity" />
        <activity android:name=".page.paging3.page.Paging3WithNetWorkActivity" />
        <activity android:name=".page.paging3.page.Paging3WithNetworkAndDataBaseActivity" />
        <activity android:name=".page.animation.AnimationActivity" />
        <activity android:name=".page.constraint.ConstraintDemoActivity" />
        <activity android:name=".page.fragment.TestFragmentActivity" />
    </application>

</manifest>